$primary-color: #da5933;
$success-color: #4D9900;
$green-btn-color: $success-color;
$order-btn-bg-color: $primary-color;
$navigator-btn-bg-color: #d6cbcb;


$card-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);