{
	"presets": ["env", "react"],
	"plugins": [
		"transform-object-rest-spread",
		["transform-runtime", {
			"polyfill": false,
			"regenerator": true
		}],
		"add-module-exports",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}