{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "parser": "babel-eslint",
    "plugins": [ "babel" ],
    "rules": {
        "babel/no-invalid-this": 1,
        "babel/semi": 1,
        "babel/no-unused-expressions": 1,
        "import/no-unresolved": "off",
        "import/extensions": "off",
        "consistent-return": "off",
        "linebreak-style": "off",
        "no-return-assign": "off",
        "comma-dangle": ["error", {
            "arrays": "never",
            "objects": "never",
            "imports": "never",
            "exports": "never",
            "functions": "ignore"
        }],
        "valid-jsdoc": ["error", {
          "requireReturn": true,
          "requireReturnType": true,
          "requireParamDescription": false,
          "requireReturnDescription": true
        }],
        "require-jsdoc": ["error", {
            "require": {
                "FunctionDeclaration": true,
                "MethodDefinition": true,
                "ClassDeclaration": true
            }
        }]
    }
}
