{
  "check-coverage": true,
  "per-file": true,
  "lines": 70,
  "statements": 70,
  "functions": 70,
  "branches": 50,
  "require": [
    "babel-register",
    "regenerator-runtime/runtime"
  ],
  "exclude": [
    "**/node_modules/**",
    "**/tests/**",
    "**/coverage/**",
    "**/config/**",
    "**/UI/**",
    "**/config/**",
    "server/migrations",
    "server/app.js"
  ],
  "include": [
    "**/server/**"
  ],
  "reporter": ["lcov", "json", "text", "html"],
  "sourceMap": false,
  "instrument": false,
  "cache": true,
  "report-dir": "./coverage"
}