{
  "check-coverage": true,
  "per-file": true,
  "lines": 50,
  "statements": 50,
  "functions": 50,
  "branches": 40,
  "require": [
    "babel-register",
    "regenerator-runtime/runtime"
  ],
  "exclude": [
    "**/node_modules/**",
    "**/tests/**",
    "**/coverage/**",
    "**/config/**",
    "**/UI/**",
    "**/config/**",
    "server/src/migrations",
    "server/src/models/index.js",
    "server/src/app.js"
  ],
  "include": [
    "**/server/**",
    "**/client/**"
  ],
  "reporter": ["lcov", "json", "text", "html"],
  "sourceMap": false,
  "instrument": false,
  "cache": true,
  "report-dir": "./coverage"
}