@import '../../../../assets/scss/_variables';

.loadMoreBtn{
  padding: 7px 21px;
  font-size: 17px;
  border-radius: 5px;
  background-color: $green-btn-color;
  color: white;
  border: 2px solid darken($green-btn-color, 5%);
  cursor: pointer;
  outline: none;

  &:hover{
    background-color: darken($green-btn-color, 5%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

.container{
  width: 100%;
  text-align: center;
}