.loadMoreBtn{
  padding: 7px 21px;
  font-size: 17px;
  border-radius: 5px;
  background-color: #4D9900;
  color: white;
  border: 2px solid #305d02;
  cursor: pointer;
  outline: none;

  &:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.container{
  width: 100%;
  text-align: center;
}