.nav{
  background-color: #d24e24;
  padding: 9px;
  color: white;

  @media only screen and (max-width: 600px){
    position: absolute;
    padding: 9px;
    color: white;
    margin-bottom: 0px;
    width: 96%;
  }


  @media only screen and (min-width: 600px) {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;

    /*background-color: #a82800;*/
    margin-bottom: 0px;
    height: 40px;

  }
}

.titleArea{
  margin-top: 4px;
  @media only screen and (max-width: 600px){
    display: flex;
		width: 100%;
  }
}

.title{
	font-family: "Dancing Script",cursive, calibri;
	font-size: 30px;
  font-weight: bold;
  position: absolute;
  left: 69px;
  text-decoration: none;
  color: white;
  text-align: center;

  @media only screen and (max-width: 600px){
    position: absolute;
    top:none;
    left: none;
    text-decoration: none;
    color: white;
  }
}

.logo{
  position: absolute;
  left: -50px;
}

.appName{
  @media only screen and (max-width: 600px){
    width: 190px;
  }
}

.navMenus{
  margin-left: auto;

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.navList{
  list-style: none;
  text-align: center;
  padding: 0;
  width: 100%;
  margin: auto;


  @media only screen and (max-width: 600px) {
    margin-top: 8px;
  }

  li{
    display: inline-block;
		margin-right: 4px;
    cursor: pointer;

    @media only screen and (max-width: 600px) {
      border-bottom: 1px solid #fbfbfb;
      display: block;
    }

    a{
      border-radius: 5px;
		  font-size: 18px;
      color: white;
      text-decoration: none;
      display: block;
      padding: 8px;

      &:hover{
        background-color: #902605;
        border: 3px dotted #71230b;
      }
    }
  }
}

.active{
  background-color: #902605;
  border: 3px dotted #71230b;

  @media only screen and (max-width: 600px) {
    margin-bottom: 4px;
    border: 2.5px dotted #71230b;
  }
}
.visible{
  display: block;
  @media only screen and (max-width: 600px) {
    :global{
      animation: fadeInDown .14s linear;
    }
  }
}

.hidden{
  display: none;
}

.home{
  background-color: #fd49119e;
  box-shadow: 0 120px 320px rgba(0, 0, 0, 0.41), 0 15px 12px rgba(0,0,0,0.22);
}

.navToggle{
  display: none;
  outline: none;

  @media only screen and (max-width: 600px){
    display: block;
    background-color: transparent;
    border-radius: 4px;
    border-style: solid;
    border-color: brown;
    color: wheat;
    font-size: 21px;
    width: 45px;
    margin-left: auto;
    height: 36px;
  }
}