@import '../../../assets/scss/_variables';

.title{
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  margin-top: 32px;
  text-align: center;

  h1{
    margin-top: 0px;
  }

  a{
    text-decoration: none;
    color: black;
  }

  img{
    @media only screen and (max-width: 600px){
      width: 70px;
    }
    @media only screen and (min-width: 600px) {
      width: 70px;
    }
    @media only screen and (min-width: 768px) {
      width: 83px;
    }
  }
}

.authArea{
	width: 400px;
	display: flex;
  margin: auto;
  margin-top: 0px;
  flex-direction: column;

  @media only screen and (max-width: 600px){
    width: 95%;
    margin-bottom: 30px;
  }
  @media only screen and (min-width: 600px) {
    width: 60%;
  }

  @media only screen and (min-width: 768px) {
    width: 50%;
  }

  @media only screen and (min-width: 992px) {
    width: 35%;
  }

  @media only screen and (min-width: 1200px) {
    width: 30%;
  }
}

.label {
  font-weight: bold;
  color: #373434;
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 33px;
  border-color: #c1b8b8;
  border-style: solid;
  border-radius: 5px;
  font-size: 15px;
  margin: auto;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  &:focus{
    outline: coral auto 4px
  }
}

.select{
  @extend .input;
  width: 100%;
  border-width: 2px;


}

.loginBtn{
	width: 100%;
  height: 38px;
  border-radius: 5px;
  background-color: $primary-color;
  color: white;
  font-size: 17px;
  border: 2px solid darken($primary-color, 10%);
  cursor: pointer;

  &:hover{
    background-color: darken($primary-color, 10%);
  }

  &:disabled{
    background-color: #dc7f61;
  }


}

.loginBtnSubmit{
  @extend .loginBtn;
  :global{
    animation: flipInX .5s ease-in;
  }
}

.errorMessage{
  color: #de1e1e;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.error{
  border-color: #de1e1e;
  :global{
    animation: shake .4s ease-in .2s;
  }
}

.inputError{
  @extend .input;
  @extend .error;
}

.selectError{
  @extend .select;
  @extend .error;
}

.authCard {
  box-shadow: $card-shadow;
  border-radius: 5px;
  background-color: white;
  min-height: 100px;
  padding: 15px;
}