@font-face {
    font-family: handWritten;
    src: url('./fonts/angel.ttf');
}
body{
	margin: 0px;
	height: 100%;
	background-color: #f6f6f6;
	font-family: cursive, Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

input, select{
	width: 100%;
	height: 33px;
    border-color: #c1b8b8;
    border-style: solid;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

input[type="checkbox"]
.meal-select{
	width: 100%;
    border-color: #c1b8b8;
    border-style: solid;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

footer{
		text-align: center;
		background-color: #2e2d2d;
		color: white;
		padding: 10px;
		margin-top: 39px;
	}


textarea{
	width: 100%;
    border-color: #c1b8b8;
    border-style: solid;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    border-width: 2px;
}
nav{
	background-color: #e54310;
	padding: 9px;
	color: white;
	margin-bottom: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.title{
	font-family: "Segoe Print",cursive, calibri;
	font-size: 22px;
	font-weight: bold;
}


.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: white;
  border-radius: 5px;
}

.card-body{
	padding: 5px;
}

.card-title{
	font-weight: bold;
	margin-bottom: 5px;
}

.content{
	width: 90%;
	margin: auto;
}
#nav-toggle{
	display: none;
}
.meal-search-area{
	margin-bottom: 28px;
}

.btn{
	background-color: #2b2a2a;
    color: white;
    font-size: 20px;
    padding: 6px;
    border-radius: 5px;
    border-style: solid;
    border-color: #8b8c89;
    text-decoration: none;
    border-width: 1px;
    margin-bottom: 5px;
    width: 150px;
}

.add-meal-btn{
	width: 132px;
    background-color: #2b2a2a;
    color: white;
    font-size: 20px;
    padding: 6px;
    border-radius: 5px;
    border-style: solid;
    border-color: #8b8c89;
    text-decoration: none;
    border-width: 1px;
}

.add-meal-btn:hover{
	background-color: #bfb6b6;
	color: #2b2a2a;
}

.create-menu-btn{
    color: white;
    font-size: 20px;
    padding: 6px;
    border-radius: 5px;
    border-style: solid;
    border-color: #8b8c89;
    text-decoration: none;
    border-width: 1px;
    margin-bottom: 5px;
        background-color: #5a5858;
        cursor: pointer;
}

.create-menu-btn:hover{
	    background-color: #5a5858;
    color: #ffffff;
}


.menu-header{
    font-weight: lighter;
    font-family: handWritten;
    font-size: 80px;
    margin: 0;
    margin-top: -9px;
    text-align: center;
    margin-bottom: 44px;
}
.handwritten{
	font-family: handWritten;
	font-weight: 300;
}

.menu-title {
   margin: 0;
    font-weight: 400;
    font-size: 72px;
    margin-top: -34px;
}
.meal-list{
	    font-family: cursive;
    margin-top: -18px;
    font-size: 26px;
    margin-left: 42px;
}



.meal-order-btn{
    background-color: #a36b35;
    border: 1px solid black;
    font-size: 22px;
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.93), 0 1px 2px rgba(0, 0, 0, 0.89);
    outline: brown;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: capitalize;
    font-family: cursive;
    margin-left: auto;
    text-decoration: none;
    color: black;
}

.meal-order-btn:hover{
       
    /*background-color: #522b2b96;*/
    
    box-shadow: 1px 1px 43px rgb(0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0.89);
    
}

.checkbox-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f1dede;
  border: 1px solid #eeb19e;
}


.checkbox-label:hover input[type="checkbox"] ~ .checkmark {
  background-color: #ccc;
}


.checkbox-label input[type="checkbox"]:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-label input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}

.checkbox-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (min-width: 600px) {
	nav{
		display: flex;
		flex-direction: row;
		padding-left: 30px;
		padding-right: 30px;

		/*background-color: #a82800;*/
		margin-bottom: 0px;
		height: 40px;
	}
	.meals{
		display: flex;
		flex-direction: column;
	}
	.menu-date-input{
		width: 232px;
		margin-right: 34px;
	}

	.menu-date-selection{
		margin:auto;
	}

	.title{
		position: absolute;
	    top: 7px;
	    left: 69px;
	    text-decoration: none;
	    color: white;
	}

	.logo{
		position: absolute;
	    top: 4px;
	    left: -40px;
	}

	
	.meal-search-area{
		display: flex;
		flex-direction: row;
	}
	.nav-menus{
		margin-left: auto;
	}
	.nav-list{
		list-style: none;
		margin-top: 6px;
		height: 100%;
	}
	.nav-list > li{
		display: inline-block;
		margin-right: 4px;
		cursor: pointer;    
    	
	}
	.nav-list > li > a{
		border-radius: 5px;
		text-decoration: none;
		color: white;
		font-size: 17px;
		padding: 15px;
	}

	.nav-list > li > a:hover{
		background-color: #cf1c15;
		text-decoration: none;
		color: white;
		font-size: 17px;
		padding: 15px;
	}
	#search{
		width: 640px;
	}

	/*.meals{
		display: grid;
		grid-template-columns: auto auto auto auto;
	}*/

	.card{
		width: 94%;
		margin: auto;
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		margin-right: 20px;
		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	}
	.card-body{
		padding: 14px;
	}
	.card-img{
		height: 218px;
	}

	.card-description{
		color: #3f3e3e;
		font-size: 13px;
		height: 4em; 
	    line-height: 1em;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}
	.card-img > img{
		height: 100%;
		width: 100%;
	}
	.card-options{
		margin-left: auto;
	}
	.card-footer{
		display: flex;
		padding: 10px;
	}

	.card-title{
		font-size: 16px;
		height: 1em; 
	    line-height: 1em;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}

	.add-meal-btn{
		margin-left: 5px;
	}
	/*.scroll-tooltip {
		outline:none; 
	}
	.scroll-tooltip strong {line-height:30px;}
	.scroll-tooltip:hover {text-decoration:none;} 
	.scroll-tooltip span {
	    z-index:10;
	    display:none; 
	    padding:14px 20px;
	    margin-top:60px; 
	    margin-left:-160px;
	    width:300px; 
	    line-height:16px;
	}*/
	.meal-title:hover span{
	    display:inline; 
	    position:absolute; 
	    border:2px solid #FFF;  
	    color:#EEE;
	    top: 0;
	    bottom: 0;
	    background:#333 url(http://www.menucool.com/tooltip/cssttp/css-tooltip-gradient-bg.png) repeat-x 0 0;
	}
	.meal-title{
		cursor: pointer;
	}

	.meal-title:hover{
		color: #db1616;
	}
	.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}
	    

	.scroll-tooltip span
	{
	    border-radius:2px;        
	    box-shadow: 0px 0px 8px 4px #666;
	}
	.scroll{
	    background: linear-gradient(to right, #f28621 0%,#f7c485 31%,#f9b868 76%,#f28621 100%);
	    min-height: 399px;
	    width: 80%;
	    display: flex;
	    flex-direction: column;
	    margin: auto;
	    border-radius: 2px;
	    box-shadow: 0 111px 339px -83px rgba(0, 0, 0, 0.93), 0 1px 2px rgba(0,0,0,0.24);
	    margin-top: 49px;
	}

	.scroll-top{
		height: 52px;
		width: 101%;
		background-color: white;
		background: linear-gradient(to bottom, #963f0d 1%,#f7c485 30%,#f9b868 70%,#963f0d 100%);
		box-shadow: 0 1px 127px rgba(0, 0, 0, 0.93), 0 1px 2px rgba(0,0,0,0.24);
	}

	.scroll-bottom{
		margin-top: auto;
		height: 58px;
		width: 102%;

		background-color: white;
		background: linear-gradient(to bottom, #963f0d 1%,#f7c485 30%,#f9b868 70%,#963f0d 100%);
		box-shadow: 0 1px 127px rgba(0, 0, 0, 0.93), 0 1px 2px rgba(0,0,0,0.24);
	}

	.scroll-body{
		height: 100%;
		padding-left: 43px;
		padding-right: 43px;
		box-shadow: inset 20px -17px 179px 23px #00000078;
	}


	.scroll-body li{
		display: flex;
		margin-bottom: 6px;
	}

}
@media only screen and (min-width: 768px) {
	nav{
		display: flex;
		flex-direction: row;
		padding-left: 30px;
		padding-right: 30px;

		/*background-color: #a82800;*/
		margin-bottom: 0px;
		height: 40px;
	}
	.meals{
		display: grid;
		grid-template-columns: repeat(4,1fr);
	}
	.menu-date-input{
		width: 232px;
		margin-right: 34px;
	}

	.menu-date-selection{
		margin:auto;
	}

	.title{
		position: absolute;
	    top: 7px;
	    left: 69px;
	    text-decoration: none;
	    color: white;
	}

	.logo{
		position: absolute;
	    top: 4px;
	    left: -40px;
	}

	
	.meal-search-area{
		display: flex;
		flex-direction: row;
	}
	.nav-menus{
		margin-left: auto;
	}
	.nav-list{
		list-style: none;
		margin-top: 6px;
		height: 100%;
	}
	.nav-list > li{
		display: inline-block;
		margin-right: 4px;
		cursor: pointer;    
    	
	}
	.nav-list > li > a{
		border-radius: 5px;
		text-decoration: none;
		color: white;
		font-size: 17px;
		padding: 15px;
	}

	.nav-list > li > a:hover{
		background-color: #cf1c15;
		text-decoration: none;
		color: white;
		font-size: 17px;
		padding: 15px;
	}
	#search{
		width: 640px;
	}

	/*.meals{
		display: grid;
		grid-template-columns: auto auto auto auto;
	}*/

	.card{
		width: 80%;
		margin: auto;
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		margin-right: 20px;
		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	}
	.card-body{
		padding: 14px;
	}
	.card-img{
		height: 218px;
	}

	.card-description{
		color: #3f3e3e;
		font-size: 13px;
		height: 4em; 
	    line-height: 1em;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}
	.card-img > img{
		height: 100%;
		width: 100%;
	}
	.card-options{
		margin-left: auto;
	}
	.card-footer{
		display: flex;
		padding: 10px;
	}

	.card-title{
		font-size: 16px;
		height: 1em; 
	    line-height: 1em;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}

	.add-meal-btn{
		margin-left: 5px;
	}
	/*.scroll-tooltip {
		outline:none; 
	}
	.scroll-tooltip strong {line-height:30px;}
	.scroll-tooltip:hover {text-decoration:none;} 
	.scroll-tooltip span {
	    z-index:10;
	    display:none; 
	    padding:14px 20px;
	    margin-top:60px; 
	    margin-left:-160px;
	    width:300px; 
	    line-height:16px;
	}*/
	.meal-title:hover span{
	    display:inline; 
	    position:absolute; 
	    border:2px solid #FFF;  
	    color:#EEE;
	    top: 0;
	    bottom: 0;
	    background:#333 url(http://www.menucool.com/tooltip/cssttp/css-tooltip-gradient-bg.png) repeat-x 0 0;
	}
	.meal-title{
		cursor: pointer;
	}

	.meal-title:hover{
		color: #db1616;
	}
	.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}
	    

	.scroll-tooltip span
	{
	    border-radius:2px;        
	    box-shadow: 0px 0px 8px 4px #666;
	}
	.scroll{
	    background: linear-gradient(to right, #f28621 0%,#f7c485 31%,#f9b868 76%,#f28621 100%);
	    min-height: 399px;
	    width: 80%;
	    display: flex;
	    flex-direction: column;
	    margin: auto;
	    border-radius: 2px;
	    box-shadow: 0 111px 339px -83px rgba(0, 0, 0, 0.93), 0 1px 2px rgba(0,0,0,0.24);
	    margin-top: 49px;
	}

	.scroll-top{
		height: 52px;
		width: 101%;
		background-color: white;
		background: linear-gradient(to bottom, #963f0d 1%,#f7c485 30%,#f9b868 70%,#963f0d 100%);
		box-shadow: 0 1px 127px rgba(0, 0, 0, 0.93), 0 1px 2px rgba(0,0,0,0.24);
	}

	.scroll-bottom{
		margin-top: auto;
		height: 58px;
		width: 102%;

		background-color: white;
		background: linear-gradient(to bottom, #963f0d 1%,#f7c485 30%,#f9b868 70%,#963f0d 100%);
		box-shadow: 0 1px 127px rgba(0, 0, 0, 0.93), 0 1px 2px rgba(0,0,0,0.24);
	}

	.scroll-body{
		height: 100%;
		padding-left: 43px;
		padding-right: 43px;
		box-shadow: inset 20px -17px 179px 23px #00000078;
	}


	.scroll-body li{
		display: flex;
		margin-bottom: 6px;
	}


}

.order-btn{
	background-color: #FF5722;
    border: 2px solid #b93c15;
    color: white;
    border-radius: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    text-decoration: none;
}
.order-btn:hover{
	background-color: #b93c15;
} 

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.order-info{
	height: 183px;
    width: 234px;
    padding: 31px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.order-info > img{
	height: 100%;
	width: 100%;
}


.order-info-details{
    font-family: cursive;
        margin-left: 0px;
    padding: 21px;
    font-family: cursive;
}

.big{
	margin: auto;
	display: flex;
	flex-direction: row;
}

.order-info-details > div{
	margin-bottom: 10px;
}

.confirm-btns{
	display: flex;
	flex-direction: row;
}

.green-btn{
	background-color: #148814;
    height: 41px;
    border: 1px solid #0e3c0e;
    border-radius: 4px;
    color: white;
    font-size: 23px;
    cursor: pointer;
   
}
.red-btn{
	cursor: pointer;
	margin-left: auto;
	font-size: 23px;
	color: white;
	    background-color: #e30b0b;
    height: 41px;
    border: 1px solid #650808;
    border-radius: 4px;
}

.create-menu-btn.main{
	border: 1px solid #701010;
	background-color: #e7520f;
}

.blue-btn{
	background-color: #2222b6;
    color: white;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #0c2e4a;
    text-decoration: none;
}

.red-btn{
	background-color: #cc0e0e;
    color: white;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #5a0909;
    text-decoration: none;
    font-size: 16px;
}

.meals{
    margin-top: 27px;
}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

.down-arrow{
	height: 0;
	border-width: 3px;
	border-color: transparent;
	border-top-color: white;
	
}



@media only screen and (max-width: 600px){
	.logo{
		height: 40px;
    	margin-right: 10px;
	}


	.title-area{
		display: flex;
		width: 100%;
	}

	.menu-header{
		font-size: 68px;
	}
	.nav-menus{
		display: none;
	}
	.menu-title{
		font-size: 56px;
	}
	.meal-cards{
		padding-top: 50px;
	}
	.meal-list{
		font-size: 18px;
		margin-left: -8px;
		padding: 0px;

	}
	.meal-list > li{
		display: flex;
		flex-direction: column;
	}
	.meal-order-btn{
		font-size: 13px;
	}

	.meal-title{
		width: 100%;
	}
	.title{
		position: absolute;
	    top:none;
	    left: none;
	    text-decoration: none;
	    color: white;
	}

	.app-name{
		position: absolute;
	    top: 7px;
	    left: 39px;
	    width: 190px;
	}
	.nav-menus > .nav-list{
		list-style: none;
		text-align: center;
		padding: 0;
		width: 100%;
		margin: auto;
	}

	.nav-menus > .nav-list > li{
		border-bottom: 1px solid #fbfbfb;
		
	}

	.nav-menus > .nav-list > li:hover{
		background-color: #cf1c15;
		color: black;
	}

	.nav-menus > .nav-list > li > a:hover{
		color: black;
	}
	.nav-menus > .nav-list > li > a{
		color: white;
		text-decoration: none;
		display: block;
		padding: 11px;
	}
	#nav-toggle{
		display: block;
		background-color: transparent;
	    border-radius: 4px;
	    border-style: solid;
	    border-color: brown;
	    color: wheat;
	    font-size: 21px;
	    width: 45px;
	    margin-left: auto;
	   	height: 36px;
	}
	.content{
		display: flex;
		flex-direction: column;
	}
	.home{
		height: 263px;
	}
	.card{
		width: 75%;
		margin: auto;
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}

	.card-img{
		height: 218px;
	}

	.card-description{
		color: #3f3e3e;
	}
	.card-img > img{
		height: 100%;
		width: 100%;
	}
	.card-options{
		margin-left: auto;
	}
	.card-footer{
		display: flex;
		padding: 10px;
	}

	.card-title{
		font-size: 19px;
	}
	nav > .title{
		text-align: center;
	}
	
	.page-title{
		margin: 0;
    	margin-bottom: 14px;
	}

	.create-menu-btn{
		width: 100%;
	}

	.other-filters-btn{
		width: 127px;
		padding: 5px;
		font-size: 20px;
	}

	.other-filters{
		display: none;
	}
	.search-orders-btn{

	}
	.order-filter-btns{
		display: flex;
		flex-direction: row;
	}
	.brand > img{
		width: 86px;
	}

	.search-menus{
		margin-top: 10px;
	}
	.big{
		flex-direction: column;
		width: 95%;
	}

}
