@import '../../../../assets/scss/_variables';
@import '../../../../assets/scss/buttons';

.container{
  margin: auto;
  width: 80%;
  @media only screen and (max-width: 600px) {
    margin-top: 86px;
  }
}

.menus {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}