.peep{
  flex: 1;
  width: 90%;
  margin: auto;
  
  @media only screen and (max-width: 600px){
    display: flex;
		flex-direction: column;
  }
}

.heading{
  text-align: center;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 20px;


  @media only screen and (max-width: 600px){
    text-align: center;
		margin-bottom: 19px;
		font-size: 19px;
  }
}